* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto' , sans-serif;
}

.top-section {
    background-color: #1f2937;
}

.content-left {
    font-size: 48px;
    background-color: #f9faf8;
    font-weight: 900;
}

.header-link , .secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.button1 , .button2 {
    color: #3882f6;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}